.radiogroup-wrapper {
    margin-top: 2rem !important;
}

// text
.MuiFormControlLabel-root-14 span {
    font-size: 1.7rem !important;
}

// title
.radiogroup-wrapper legend {
    font-size: 2.5rem !important;
}

.radiogroup-wrapper label span{
    font-size: 1.5rem !important;
}